<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCD8xE9o-Dj-Ctw2bpaQpn1tG54CI712DQ</string>
	<key>GCM_SENDER_ID</key>
	<string>663997019875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RASoft.DaringDuckFirebase</string>
	<key>PROJECT_ID</key>
	<string>daringduck-e386c</string>
	<key>STORAGE_BUCKET</key>
	<string>daringduck-e386c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663997019875:ios:af4aef0d12f2808f0bf7d6</string>
</dict>
</plist>